body {
    background-color: lightyellow;
}

h1 {
    color: purple;
    font-family: 'Gill Sans';
    font-size: 70px;
    margin: 30px;
}

h2 {
    font-style: oblique;
    font-family: 'Gill Sans';
    font-size: 30px;
    margin: 50px;
}

h3 {
    font-family: 'Gill Sans';
    font-size: 40px;
}

button {
    height: 60px;
    width: 350px;
    background: red;
    color: white;
    font-size: 24px;
    font-family: 'Gill Sans';
    border-radius: 25px;
}

input {
    font-size: 20px;
    font-family: 'Gill Sans';
    width: 200px;
    height: 55px;
    margin: 20px;
}

.hidden {
    display: none;
}

.visible {
    display: inline;
}